<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.board.model.dao.FavoriteVideoDao">

	<!-- 찜한 영상 조회 -->
	<select id="selectFavVideos" resultType="Video" parameterType="String">
		SELECT *
		FROM videos
		WHERE videoID
		IN (SELECT videoID FROM favoriteVideos WHERE userID = #{userID});
	</select>
	
	<!-- 해당 유저와 전체 영상 조인하여 조회  --> 
	<select id="selectAll" resultType="FavoriteVideo" parameterType="String">
		SELECT f.userID, v.* 
		FROM videos v LEFT OUTER JOIN favoriteVideos f 
		ON v.videoID = f.videoID
	</select>
	
	<!-- 찜한 영상 추가 -->
	<insert id="insertFavoriteVideo" parameterType="String">
		INSERT INTO favoriteVideos
		VALUES (#{userID}, #{videoID})
	</insert>
	
	<!-- 찜한 영상 해제 -->
	<delete id="deleteFavoriteVideo" parameterType="String">
		DELETE FROM favoriteVideos
		WHERE userID = #{userID} AND videoID = #{videoID}
	</delete>
	
	
	<!-- 	///////////////////수정한 부분////////////////////
	///////////////////수정한 부분////////////////////
	///////////////////수정한 부분//////////////////// -->
	<!-- 해당 유저와 운동부위 영상 조인하여 조회  --> 
	<select id="selectPartVideo" resultType="FavoriteVideo" parameterType="String">
		SELECT f.userID, v.* 
		FROM videos v LEFT OUTER JOIN favoriteVideos f 
		ON v.videoID = f.videoID
		WHERE v.partInfo = #{partInfo}
	</select>
	<!-- 	///////////////////수정한 부분////////////////////
	///////////////////수정한 부분////////////////////
	///////////////////수정한 부분//////////////////// -->
</mapper>