<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.board.model.dao.UltraDao">

    <!-- 전체글 조회 -->
    <select id="selectList" resultType="Ultra" parameterType="SortInfo">
        SELECT v.videoID AS videoID, v.title AS title, v.channelName AS channelName, v.partInfo AS partInfo, v.viewCnt AS viewCnt, vr.averageRating AS averageRating, vr.totalReviews AS totalReviews,
        CASE WHEN fv.videoID IS NOT NULL THEN 'yes' ELSE 'no' END AS favorite
        FROM videos v
        LEFT JOIN video_ratings vr ON v.videoID = vr.videoID
        LEFT JOIN favoritevideos fv ON v.videoID = fv.videoID AND fv.userID = '${userID}'
        WHERE v.channelName = '${channelName}' AND v.partInfo = '${partInfo}'
        ORDER BY ${sort} DESC;
    </select>

</mapper>